<!DOCTYPE html>
<html>
<head>
  <!--<meta http-equiv="refresh" content="0; url=https://login.betteron.video/login" />-->
  <title>BetterOn Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body margin-top=50px>
  <%= render 'layouts/messages' %>
  <%= render 'layouts/navigation' %>
<%= yield %>

</body>
</html>
