<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= form_for(:portal, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
    <div class="form-group">
        <div class="control-label col-sm-5">
            <%= f.label :email %>
        </div>
        <div class="col-sm-3">
            <%= f.email_field :email, class: "form-control", autofocus: true %>
        </div>
    </div>
    
    <div class="form-group">
        <div class="control-label col-sm-5">
            <%= f.label :password %>
        </div>
        <div class="col-sm-3">
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <%= f.submit "BetterOn", class: 'btn btn-primary btn-med btn-theme' %>
        </div>
    </div>
    
    <%= link_to 'make admin', new_profile_path %>

<% end %>