<h1>All Users</h1>

<table border="1">
    <tr>
        <td><%= link_to "New User", new_profile_path %></td>
        <td><%= link_to "See All Sessions", sessions_path %></td>
        <td><%= link_to "See All Organizations", organizations_path %></td>
    </tr>
</table>

<hr>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sessions</th>
        <th>Company</th>
    </tr>
    <% @profiles.each do |profile| %>
        <tr>
            <td><%= profile.name %></td>
            <td><%= profile.email %></td>
            <td><%= profile.sessions.count %></td>
            <td><%= profile.organization.organization_name %></td>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Show', profile_path(profile) %></td>
            <td><%= link_to 'Delete', profile_path(profile), method: :delete, 
                    data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>
