<h1>All profiles</h1>

<p>
    <%= link_to "New Profile", new_profile_path %>
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
    </tr>
    <% @profiles.each do |profile| %>
        <tr>
            <td><%= profile.name %></td>
            <td><%= profile.email %></td>
            <td><%= profile.organization.organization_name %></td>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Show', profile_path(profile) %></td>
            <td><%= link_to 'Delete', profile_path(profile), method: :delete, 
                    data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>
