<h1>Showing profile</h1>

<p>
    Name: <%= @profile.name %>
</p>

<p>
    Email: <%= @profile.email %>
</p>

<% if current_profile.admin? %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
    <%= link_to "Back to all profiles", profiles_path %>
<% end %>



<hr>

<p>
    Sessions:
    <% @profile.sessions.each do |sesh| %>
        <p>
            Session time: <%= sesh.created_at %> <br>
            <%= link_to "see details", session_path(sesh) %>
        </p>
        
    <% end %>
</p>
<% if logged_in? %>
    <%= link_to 'Log out', logout_path, method: :delete %>
<% end %>