<%= render 'layouts/navigation' %>

<div class="container">
    <br>
    
    <h1>
        Welcome, <%= @profile.name %>
        <small><%= Organization.find(@profile.organization_id).organization_name %></small>
    </h1>
    
    <hr>
    <br>
    <div class="row">
        <% count = 1 %>
        <% @profile.sessions.each do |sesh| %>
            <div class="col-lg-4 col-sm-4 portfolio-item">
              <div class="card h-100">
                <% def parse_youtube(url) %>
                  <% regex = /(?:.be\/|\/watch\?v=|\/(?=p\/))([\w\/\-]+)/ %>
                  <% url.match(regex)[1] %>
                <% end %>
                <% nail = parse_youtube(sesh.highlights) %>
                
                  
                
                <%= link_to session_path(sesh) do %>
                  <img class="card-img-top" src=" <%= "https://img.youtube.com/vi/#{nail}/default.jpg" %> ">
                <% end %>
                
                
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to "Session #{count}", session_path(sesh) %>
                  </h4>
                  <p class="card-text"><%= sesh.created_at.strftime("%A, %m-%d-%Y") %> </p>
                </div>
              </div>
            </div>
            <% count +=1 %>
        <% end %>
    </div>
</div>



<% if current_profile.admin? %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
    <%= link_to "Back to all profiles", profiles_path %>
<% end %>
