<%= form_for @session do |f| %>
    <p>
        <%= f.label :profile %><br/>
        <%= f.collection_select :profile_id, Profile.all, :id, :name, include_blank: true %>
    </p>
    <p>
        <% f.label "Highlight reel link" %><br/>
        <% f.text_field :highlights %>
    </p>
    <p>
        <%= f.label "Coach response link" %><br/>
        <%= f.text_field :feedback %>
    </p>
    <p>
        <%= f.label :homework %><br/>
        <%= f.text_area :homework, size: "30x10"%>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<% if @session.errors.any? %>
    <h2>The following errors prevented the session from getting created</h2>
    <ul>
        <% @session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

