<% if current_profile == @session.profile || current_profile.admin? %>
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">-->
<script>
$(document).ready(function(){
    
    // $("#show_group").on('checked', function(){
    //       
    // });

  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

</script>



<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/jquery-2.2.0.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->


<!--<script>-->
<!--        jQuery(function($) {-->
<!--        var panelList = $('#draggablePanelList');-->

<!--        panelList.sortable({-->
            <!--// Only make the .panel-heading child elements support dragging.-->
            <!--// Omit this to make then entire <li>...</li> draggable.-->
<!--            handle: '.panel-heading', -->
<!--            update: function() {-->
<!--                $('.panel', panelList).each(function(index, elem) {-->
<!--                     var $listItem = $(elem),-->
<!--                         newIndex = $listItem.index();-->

                     <!--// Persist the new indices.-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--    jQuery(function($) {-->
<!--        var panelList2 = $('#draggablePanelList2');-->

<!--        panelList2.sortable({-->
            <!--// Only make the .panel-heading child elements support dragging.-->
            <!--// Omit this to make then entire <li>...</li> draggable.-->
<!--            handle: '.panel-heading', -->
<!--            update: function() {-->
<!--                $('.panel', panelList2).each(function(index, elem) {-->
<!--                     var $listItem = $(elem),-->
<!--                         newIndex = $listItem.index();-->

                     <!--// Persist the new indices.-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

<div class="container container-sesh">
    <br>
    <div class="row row-sesh">
        <div class="col-lg-3 fixedElement">
            <br>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">A few notes:</h4>
                    <hr>
                    <div class="well pre-scrollable">
                        
                        <p><%= simple_format(@session.homework) %></p>
                    </div>
                    <br>
                    <% if current_profile.admin? %>
                        <%= link_to "Edit this session", edit_session_path(@session) %> |
                        <%= link_to "Back to all sessions", sessions_path %> 
                        <br>
                        <br>
                        <%= link_to "Add videos", new_session_video_path(@session) %>
                    <% else %>
                        <h4 class="card-title">Who sees this?</h4>
                        <hr>
                        
                        <div class="toggle-button toggle-button--aava">
                            <input id="toggleButton" type="checkbox"  >
                            <label for="toggleButton" data-on-text="My BetterOn group" data-off-text="Just me" checked></label>
                        </div>
                        <%# if @session.show_group? %>
                            <%#= "showing group" %>
                        <%# else %>
                            <%#= "don't show" %>
                        <%# end %> 
                        
                        <br><br>
                        <%= link_to profile_path(@session.profile) do %>
                            <button type="button" class="btn btn-default"> Back to Profile</button>
                        <% end %>
                        
                        <%= form_for @session do |f| %>
                            
                                <!--<div class="checkbox">-->
                                <!--        <%#<%= f.check_box :show_group %>-->
                                <!--</div>-->
                                
                                <%#<%= f.submit "Save changes" %>
                                <!--<input id="toggleButton" type="checkbox">-->
                                <!--<label for="toggleButton" data-on-text="My BetterOn group" data-off-text="Just me"></label>-->
                                
                        
                                <% end %>
                           
                        <% end %>
                    
                    
                </div>
            </div>
        </div>
        <div id="highlight" class="col-lg-9 col-lg-offset-4">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Coach's Response</h2>
                    <hr>
                    <div class="padding-zero embed-responsive embed-responsive-16by9 embed-responsive embed-responsive-16by9">
                        <% def parse_youtube(url) %>
                           <% regex = /(?:.be\/|\/watch\?v=|\/(?=p\/))([\w\/\-]+)/ %>
                            <% url.match(regex)[1] %>
                        <% end %>
                        <% lnk = parse_youtube(@session.feedback) %>
                        <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{lnk}?rel=0&amp;showinfo=0" %>" 
                        frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <h4 align="center"><a href="#notes"><span class="glyphicon glyphicon-chevron-down"></span></a></h4>
        </div>
        <!--<div id="notes" class="col-lg-9 col-lg-offset-4">-->
        <!--    <div class="card mt-4">-->
        <!--        <div class="card-body">-->
        <!--            <h2 class="card-title">Highlight Reel</h2>-->
        <!--            <hr>-->
        <!--            <div class="padding-zero embed-responsive embed-responsive-16by9 embed-responsive embed-responsive-16by9">-->
        <!--                <%# def parse_youtube(url) %>-->
        <!--                   <%# regex = /(?:.be\/|\/watch\?v=|\/(?=p\/))([\w\/\-]+)/ %>-->
        <!--                    <%# url.match(regex)[1] %>-->
        <!--                <%# end %>-->
        <!--                <%# lnk = parse_youtube(@session.highlights) %>-->
        <!--                <iframe width="560" height="315" src="<%#= "https://www.youtube.com/embed/#{lnk}"%> " -->
        <!--                frameborder="0" allowfullscreen autoplay=true></iframe>-->
        <!--            <br>-->
        <!--            <br>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <% count = 0 %>
        
    <% if @session.videos.nil? %>
        
<!--        <div class="container">-->
<!--  <ul id="draggablePanelList" class="list-unstyled">-->
<!--      <li class="panel panel-info">-->
<!--          <div class="panel-heading">You can drag this panel.</div>-->
<!--          <div class="panel-body">Content here ...</div>-->
<!--      </li>-->
<!--      <li class="panel panel-info">-->
<!--          <div class="panel-heading">You can drag this panel too.</div>-->
<!--          <div class="panel-body">More content here...</div>-->
<!--      </li>-->
<!--      <li class="panel panel-info">-->
<!--          <div class="panel-heading">You can drag this panel too.</div>-->
<!--          <div class="panel-body">More blah content here...</div>-->
<!--      </li>-->
<!--      <li class="panel panel-info">-->
<!--          <div class="panel-heading">You can drag this panel too.</div>-->
<!--          <div class="panel-body">Another content panel here...</div>-->
<!--      </li>-->
<!--  </ul>-->
<!--</div>-->
        
    <% else %>
        <% @session.videos.each do |v| %>
            <% if count == 0 %>
            <div id="notes" class="col-lg-9 col-lg-offset-4">
            <% else %>
            <div id="notes" >
            <% end %>
            <% count = count + 1 %>
                <div class="card mt-4">
                    <div class="card-body">
                        <!--<ul id="draggablePanelList" class="list-unstyled">-->
                        <!--  <li class="panel panel-info">-->
                              <h2 class="card-title"><%= v.heading %></h2>
                                <hr>
                                <div class="padding-zero embed-responsive embed-responsive-16by9 embed-responsive embed-responsive-16by9">
                                    <% def parse_youtube(url) %>
                                       <% regex = /(?:.be\/|\/watch\?v=|\/(?=p\/))([\w\/\-]+)/ %>
                                        <% url.match(regex)[1] %>
                                    <% end %>
                                    <% lnk = parse_youtube(v.link) %>
                                    <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{lnk}"%> " 
                                    frameborder="0" allowfullscreen autoplay=true></iframe>
                                <br>
                                <br>
                        <!--  </li>-->
                        <!--</ul>-->
                        
                    </div>
                    <% if current_profile.admin? %>
                        <%#= link_to "Delete this video", session_video_path(), method: :delete, data: {  confirm: "Are you sure?" } %>
                        <%= link_to "delete", [@session, v], :method  => :delete, data: {  confirm: "Are you sure?" } %>
                        
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>    
    </div>
</div>

<% else %>
    <%= flash.now[:danger] = "You do not have access" %>
<% end %>
    








