<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-2 fixedElement">
            <br>
            <h4 align="center" class="my-4">Navigation</h4>
            <div class="list-group">
                <a href="#hightlight" class="list-group-item active">Highlight Reel</a>
                <a href="#notes" class="list-group-item">Notes</a>
                <a href="#homework" class="list-group-item">Homework</a>
            </div>
        </div>
        <div id="highlight" class="col-lg-9 col-lg-offset-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Highlight Reel</h2>
                    <hr>
                    <div class="padding-zero embed-responsive embed-responsive-16by9 embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cmCyYQjz290" frameborder="0" allowfullscreen></iframe>    
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div id="notes" class="col-lg-9 col-lg-offset-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Notes</h2>
                    <hr>
                    <div class="well">
                        <p><%= @session.feedback %></p>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div id="homework" class="col-lg-9 col-lg-offset-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Homework</h2>
                    <hr>
                    <div class="well">
                        <p><%= @session.homework %></p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

     
    <% if current_profile.admin? %>
        <%= link_to "Edit this session", edit_session_path(@session) %> |
        <%= link_to "Back to all sessions", sessions_path %>
    <% else %>
        <%= link_to "Back to profile", profile_path(@session.profile) %>
    <% end %>








