    <!-- Page Content -->
<div class="container">
    <br>
    
        <div class="row">
            
            <div class="col-lg-2 fixedElement">
                <h3 align="center">Navigation</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Highlight Reel</a>
                    <a href="#" class="list-group-item">Notes</a>
                    <a href="#" class="list-group-item">Homework</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-offset-3 col-lg-9 padding-zero embed-responsive embed-responsive-16by9">
                <h1 align="center" class="card-title">Highlight Reel</h1>
                <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cmCyYQjz290" frameborder="0" allowfullscreen></iframe>    
    </div>
                
                <div class="card mt-4">
                    
                    <div class="card-body">
                        
                        
                        
                        
                        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                        <h4>$24.99</h4>
                        <p class="card-text">Some text and stuff</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
                    </div>
                    
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

</div>






<h1>Showing session</h1>

<p>
    User: <%= @session.profile.name %>
</p>

<p>
    Highlights: <%= @session.highlights %>
</p>

<p>
    Notes: <%= @session.feedback %>
</p>

<p>
    Homework: <%= @session.homework %>
</p>

<% if current_profile.admin? %>
    <%= link_to "Edit this session", edit_session_path(@session) %> |
    <%= link_to "Back to all sessions", sessions_path %>
<% else %>
    <%= link_to "Back to profile", profile_path(@session.profile) %>
<% end %>