<h1>Showing session</h1>

<p>
    User: <%= @session.profile.name %>
</p>

<p>
    Highlights: <%= @session.highlights %>
</p>

<p>
    Notes: <%= @session.feedback %>
</p>

<p>
    Homework: <%= @session.homework %>
</p>

<% if current_profile.admin? %>
    <%= link_to "Edit this session", edit_session_path(@session) %> |
    <%= link_to "Back to all sessions", sessions_path %>
<% else %>
    <%= link_to "Back to profile", profile_path(@session.profile) %>
<% end %>